*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: #737373;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
}

a{
  color: inherit;
  text-decoration: none!important;
}

h2{
  max-width: 0 0 10px 0;
  color:#000;
  font-size: 20px;
  line-height: 1.25;
}

p{
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

hr{
  margin: 115px 0;
  padding: 0;
  height: 2px;
  border: none;
  background-color: #e6e6e6;
}

.cb{
    clear: both;
    display: block;
}
