<header class="headers">
  <a href="#" class="hearder-logo">
    <img src="assets/logo.png" alt="logo bramtech">
  </a>
  <nav class="menus clearfix">
    <a href="#apropos" class="menus-item is-active">A PROPOS</a>
    <a href="#services" class="menus-item">SERVICES</a>
    <a href="#travaux" class="menus-item">TRAVAUX</a>
    <a href="#contact" class="menus-item">CONTACT</a>
  </nav>
  <div class="cb"></div>
  <div class="header-baseline">
    <div class="header-baseline-l ">BRAMTECH CONSULTING</div>
    <div class="header-baseline-l header-baseline-strong">WEB DESIGN / Vidéosurveillance / MAINTENANCE </div>
    <div class="header-baseline-l ">LA TECHNOLOGIE A VOTRE SERVICE </div>
  </div>
  <p>
    <a class="btn" href="#services">EN SAVOIR PLUS</a>
  </p>
</header>
<section class="section-A" id="apropos">
  <div class="container">
    <div class="section-title clearfix">
      <h1>A propos</h1>
      <p><strong>BRAMTECH Consulting</strong> est une entreprise multifonctionnelle de prestation de service informatique
        spécialisée dans la conception web, installation vidéosurveillance, maintenance et prestation de
        service informatique en illimité.</p>
    </div>

    <div class="about clearfix">
      <div class="about-text">
        <h2>QUE FAISONS NOUS ?</h2>
        <p>
          <strong>BRAMTECH Consulting</strong> vous apporte des solutions aux problèmes informatiques que vous
          rencontrez au quotidien ou à long terme. Grâce à une équipe d’expert disponible au service
          de votre système d’information, vous êtes garantis de bénéficier des meilleurs prestations de
          service informatique rapport qualité prix.
        </p>
        <p>
            L’offre globale de <strong>BRAMTECH Consulting</strong> est modulaire. De ce fait, elle répond aux besoins de
            chaque client. Vous pouvez choisir de conserver la maîtrise d’ouvrage complètement ou
            partiellement en faisant appel à notre assistance.
        </p>
      </div>
      <div class="about-picture">
        <img src="./assets/webdesign.png" height="300px" alt="webdesign cms">
      </div>
      <div class="cb"></div>
      <hr>

    </div>

    <div class="about about-inverse">
        <div class="about-picture">
            <img src="./assets/cctv.png" height="200px" alt="webdesign cms">
          </div>
        <div class="about-text">
          <h2>NOS COMPETENCES</h2>
          <p>
            Notre expertise et la maîtrise des technologies dans les systèmes informatiques nous
            permettent de proposer une prestation globale parfaitement adaptée à vos besoins ponctuels
            ou permanents.
          </p>
          <div class="cb"></div>
          <div class="prog">
          <p><strong>CONCEPTION WEB</strong></p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width:95%">95%</div>
          </div>

          <p><strong>SECURITE DES SYST. D'INFORMATION</strong></p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:75%">75%</div>
          </div>

          <p><strong>MAINTENANCE HARDWARE</strong></p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:80%">80%</div>
          </div>

          <p><strong>INSTALLATION VIDEOSURVEILLANCE</strong></p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
          </div>
        </div>
        </div>
      </div>

  </div>
</section>
<div class="cb"></div>
<section class="section-B">
  <div class="container">
    <blockquote class="quote-text">
      Les grandes choses en affaires n'ont jamais ete accomplies par une personne.
      Elles ont ete accomplies par une equipe.
    </blockquote>
    <cite class="quote-author">Steve Jobs</cite>
  </div>
</section>
<section class="section-A" id="services">
  <div class="container">
      <div class="section-title clearfix">
          <h1>NOS SERVICES</h1>
          <p>De nos jours, la dépendance de plus en plus accrue à tout ce qui est outil informatique conduit
              <strong>BRAMTECH Consulting</strong> à avoir des exigences de plus en plus fortes quant à la qualité des services
              qu’il fournit</p>
        </div>
        <div class="row">
            <div class="col-4 ">
              <h2>CONCEPTION WEB</h2>
              <p>Réussir un design c’est choisir le meilleur compromis entre divers contraintes : <strong>étique,
                  ergonomie et accessibilité.</strong> D’une manière générale, vous constaterez que tous les sites à
                  fortes fréquentations ont tenu compte de ces contraintes et proposent des compromis
                  acceptables pour ces différents paramètres. Pour vous, nous ne nous définissons pas
                  seulement comme techniciens mais aussi en tant qu’artistes.</p>
              </div>
              <div class="col-4">
                <h2>INSTALLATION VIDÉOSURVEILLANCE</h2>
                <p>Dans un monde évolutivement sensible aux <strong>problèmes de sécurité</strong>, les systèmes de
                    vidéosurveillance apportent une <strong>solution efficace</strong> à laquelle ont recours de nombreux secteurs
                    d’activité (banque, transports, industrie, domicile privé, bureau, etc.). Nos prestations de
                    service en vidéosurveillance vous permettent de bénéficier d’un véritable service de
                    <strong>gardiennage professionnel à distance ou en lieu, au service de la sécurité de vos
                    investissements.</strong></p>
              </div>
              <div class="col-4">
                <h2>MAINTENANCE PC</h2>
                <p>Passionner par les métiers techniques et les technologies ayant trait au monde de
                    l’informatique et de l’électronique, notre expertise en maintenance vous offre une <strong>garantie à
                    toutes épreuves.</strong> De la détection d’une panne à la sécurisation d’un réseau informatique en
                    passant par la remise en état du matériel, nous nous posons en <strong>véritable sauveur</strong> face à un
                    écran noir ou un virus détecté. </p>
              </div>
        </div>
        <div class="row">
            <div class="col-4">
              <h2>CONSEIL EN PROJET INFORMATIQUE</h2>
              <p>Les projets informatiques possèdent des particularités qu’il faut appréhender pour réussir à
                  atteindre les objectifs fixés. Ils sont de généralement, par nature, complexes. Et cette
                  complexité s’explique notamment par la diversité des acteurs qu’ils font intervenir :
                  techniciens, ingénieurs, administrateurs… voilà pourquoi <strong>BRAMTECH Consulting</strong> se veut de
                  <strong>vous accompagner</strong> dès la <strong>planification</strong> pour assurer un suivi et contrôle tout en <strong>gérant les
                      risques</strong> pour enfin clôturer chacun de vos projets.</p>
              </div>
              <div class="col-4">
                <h2>SÉCURITÉ DES SYSTÈMES D’INFORMATION</h2>
                <p>Pour ce qui est de la sécurité de tous systèmes d’informations, nous la résumons en 3 mots :
                    <strong>Confidentialité – Intégrité – Disponibilité.</strong> Aujourd’hui la sécurité informatique est un enjeu
                    crucial pour toutes les entreprises, quelle que soit leur taille. Il est indispensable de mettre en
                    œuvre une <strong>stratégie globale de sécurité informatique pour protéger le réseau interne</strong> contre
                    toutes les menaces potentielles. C’est ainsi que nous mettons tout notre savoir-faire à votre
                    service.</p>
              </div>
              <div class="col-4">
                <h2>AUTRES</h2>
                <p>Découvrez le reste de nos services en nous contactant directement via nos coordonnées
                    fournies ci-dessous. Restez informer de toutes nos réalisations et innovations en visitant
                    régulièrement notre page Facebook. N’hésitez pas, <a href="#contact">appelez dès maintenant.</a></p>
              </div>
        </div>

  </div>
</section>
<section class="section-B" id="travaux">
  <div class="container">
    <h1>NOS CLIENTS</h1>
  </div>
</section>
<section class="section-A" id="contact">
  <div class="container">
    <div class="section-title clearfix">
      <h1>NOUS CONTACTER</h1>
      <p>Pour chaque marché, le conseil est une affaire d’expert.
          Pour chaque entreprise l’ingénierie informatique est une mission de spécialiste.
          Pour chaque foyer, la connaissance des systèmes informatiques est un pas vers le futur.</p>
    </div>

    <div class="row">
        <div class="col-6">
          <h2><strong>LAISSEZ NOUS UN MESSAGE</strong></h2>
          <form>
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" class="form-control" name="nom" id="nom">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email">
              <label for="message">Message</label>
              <textarea class="form-control" id="textarea" rows="3"></textarea>
              <br>
              <button type="submit" class="btn">Valider</button>
            </div>
          </form>
        </div>
        <div class="col-6">
          <h2><strong>INFORMATION DE CONTACTE</strong></h2>
          <p>N'hésitez pas à nous contacter pour tout renseignement.
              Venez nous rendre visite, nous telephoner ou encore envoyez-nous un E-mail grâce au formulaire</p>
          <ul class="contact-info">
            <li><i class="fa fa-map-marker"></i> Av. Dodoma, 144 Q/Wangata C/Kinshasa</li>
            <li><i class="fa fa-phone"></i> (+243)906720654 , (+243)859345033</li>
            <li><i class="fa fa-envelope"></i> contact@bramtechconsulting.com</li>
          </ul>
        </div>
      </div>
  </div>
</section>
<section class="map">
    <div style="width: 100%"><iframe width="100%" height="600"
      src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=kinshasa%2CDemocratic%20Republic%20of%20the%20Congo%2C%20Rue%20de%20dodoma+(BRAMTECH%20CONSULTING)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe></div><br />
</section>
<section class="footers">
  <div class="container">
      <span>© OFFICIAL WEBSITE BRAMTECH CONSULTING, 2018</span>
      <br>
      <span>
          <a href="#" class="foot-items">Facebook</a>
          <a href="#" class="foot-items">Twitter</a>
          <a href="#" class="foot-items">Instagram</a>
          <a href="#" class="foot-items">Youtube</a>
      </span>
  </div>
</section>

