<header class="header">
  <a href="#" class="hearder-logo">
    <img src="assets/logo.png" alt="logo bramtech">
  </a>
  <nav class="menu clearfix">
    <a href="#" class="menu-item is-active">A PROPOS</a>
    <a href="#" class="menu-item">SERVICES</a>
    <a href="#" class="menu-item">TRAVAUX</a>
    <a href="#" class="menu-item">CONTACT</a>
  </nav>
  <div class="cb"></div>
  <div class="header-baseline">
    <div class="header-baseline-l ">Lorem ipsum dolor sit amet</div>
    <div class="header-baseline-l header-baseline-strong">Consectetur adipisicing elit</div>
    <div class="header-baseline-l ">Beatae incidunt corrupti iure suscipit. </div>
  </div>
</header>
