<header class="headers">
  <a href="#" class="hearder-logo">
    <img src="assets/logo.png" alt="logo bramtech">
  </a>
  <nav class="menus clearfix">
    <a href="#" class="menus-item is-active">A PROPOS</a>
    <a href="#" class="menus-item">SERVICES</a>
    <a href="#" class="menus-item">TRAVAUX</a>
    <a href="#" class="menus-item">CONTACT</a>
  </nav>
  <div class="cb"></div>
  <div class="header-baseline">
    <div class="header-baseline-l ">BRAMTECH CONSULTING</div>
    <div class="header-baseline-l header-baseline-strong">WEB DESIGN / IP CAMERA / MAINTENANCE </div>
    <div class="header-baseline-l ">LA TECHNOLOGIE A VOTRE SERVICE </div>
  </div>
  <p>
    <a class="btn" href="#">EN SAVOIR PLUS</a>
  </p>
</header>
<section class="section-A">
  <div class="container">
    <div class="section-title clearfix">
      <h1>A propos</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
    </div>

    <div class="about clearfix">
      <div class="about-text">
        <h2>QUE FAISONS NOUS ?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Sed viverra tellus in hac habitasse platea dictumst vestibulum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Sed viverra tellus in hac habitasse platea dictumst vestibulum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Sed viverra tellus in hac habitasse platea dictumst vestibulum.
        </p>
      </div>
      <div class="about-picture">
        <img src="./assets/webdesign.png" height="300px" alt="webdesign cms">
      </div>
      <div class="cb"></div>
      <hr>

    </div>

    <div class="about about-inverse">
        <div class="about-picture">
            <img src="./assets/cctv.png" height="200px" alt="webdesign cms">
          </div>
        <div class="about-text">
          <h2>NOS COMPETENCES</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed viverra tellus in hac habitasse platea dictumst vestibulum.
          </p>
          <div class="cb"></div>
          <div class="prog">
          <p><strong>CONCEPTION WEB</strong></p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width:95%">95%</div>
          </div>

          <p><strong>SYSTEME DE GESTION DE CONTENU</strong></p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:75%">75%</div>
          </div>

          <p><strong>MAINTENANCE HARDWARE</strong></p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:80%">80%</div>
          </div>

          <p><strong>INSTALLATION CAMERA IP</strong></p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
          </div>
        </div>
        </div>
      </div>

  </div>
</section>
<div class="cb"></div>
<section class="section-B">
  <div class="container">
    <blockquote class="quote-text">
      Les grandes choses en affaires n'ont jamais ete accomplies par une personne.
      Elles ont ete accomplies par une equipe.
    </blockquote>
    <cite class="quote-author">Steve Jobs</cite>
  </div>
</section>
<section class="section-A">
  <div class="container">
      <div class="section-title clearfix">
          <h1>NOS SERVICES</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
        </div>
        <div class="row">
            <div class="col-4 ">
              <h2>CONCEPTION WEB</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
              </div>
              <div class="col-4">
                <h2>SYSTEME DE GESTION DE CONTENU</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
              </div>
              <div class="col-4">
                <h2>MAINTENANCE PC</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
              </div>
        </div>
        <div class="row">
            <div class="col-4">
              <h2>INSTALLATION CAMERA IP</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
              </div>
              <div class="col-4">
                <h2>CYBER SECURITE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
              </div>
              <div class="col-4">
                <h2>AUTRES</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est.</p>
              </div>
        </div>

  </div>
</section>
<section class="section-B">
  <div class="container">
    <h1>NOS CLIENTS</h1>
  </div>
</section>
<section class="section-A">
  <div class="container">
    <div class="section-title clearfix">
      <h1>NOUS CONTACTEZ</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est</p>
    </div>

    <div class="row">
        <div class="col-6">
          <h2><strong>LAISSEZ NOUS UN MESSAGE</strong></h2>
          <form>
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" class="form-control" name="nom" id="nom">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email">
              <label for="message">Message</label>
              <textarea class="form-control" id="textarea" rows="3"></textarea>
              <br>
              <button type="submit" class="btn">Valider</button>
            </div>
          </form>
        </div>
        <div class="col-6">
          <h2><strong>INFORMATION DE CONTACTE</strong></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Vel risus commodo viverra maecenas. Netus et malesuada fames ac turpis.</p>
          <ul class="contact-info">
            <li><i class="fa fa-map-marker"></i> Av. Dodoma, 144 Q/Wangata C/Kinshasa</li>
            <li><i class="fa fa-phone"></i> (+243)906720654 , (+243)859345033</li>
            <li><i class="fa fa-envelope"></i> contact@bramtechconsulting.com</li>
          </ul>
        </div>
      </div>
  </div>
</section>
<section class="map">
    <div style="width: 100%"><iframe width="100%" height="600"
      src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=kinshasa%2CDemocratic%20Republic%20of%20the%20Congo%2C%20Rue%20de%20dodoma+(BRAMTECH%20CONSULTING)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe></div><br />
</section>
<section class="footers">
  <div class="container">
      <span>© OFFICIAL WEBSITE BRAMTECH CONSULTING, 2018</span>
      <br>
      <span>
          <a href="#" class="foot-items">Facebook</a>
          <a href="#" class="foot-items">Twitter</a>
          <a href="#" class="foot-items">Instagram</a>
          <a href="#" class="foot-items">Youtube</a>
      </span>
  </div>
</section>

